*
{
	margin: 0%;
	padding: 0%;
}
#container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: #716347;
	color: white;
	padding: 2%;
	width: 96%;
}
#nav	
{
	float: left;
    background-color: rgb(65, 151, 106);
	width: 16%;
	min-height: 620px;
	padding: 2%;
	height: 75vh;
}
#content
{
	float: left;
	padding: 2%;
	width: 56%;
	height: 40vh;
    color: red;

}
#ad
{
	float: left;
	width: 16%;
	min-height: 620px;
	padding: 2%;
	background-color: rgba(255, 147, 2, 1);
	height: 75vh;
}
#footer
{
	clear: both;
	background-color: hsl(148, 100%, 50%);
	text-align: center;
	padding: 2%;
	width: 96%;
}	